@model IEnumerable<Employee>
 @*the view expects a collection of employee objects*@

 @if (Model != null && Model.Any()) { 

  <!--shows a table if there are employees in the model-->
   <table class="table table-striped">
     <thead>
       <tr><th>Full Name</th><th>Address</th><th>Department</th><th>UserId</th><th></th></tr>
     </thead>

     <tbody> <!--Goes through each employee and display their data-->
     @foreach (var e in Model) {
       <tr>
         <td>@e.FullName</td>
         <td>@e.Address</td>
         <td>@e.Department</td>
         <td>@e.UserId</td>
         <td class="text-end">
           <a asp-action="UpdateEmployee" asp-route-id="@e.EmployeeId" class="btn btn-sm btn-outline-secondary">Edit</a>
           <a asp-action="DeleteEmployee" asp-route-id="@e.EmployeeId" class="btn btn-sm btn-outline-danger">Delete</a>
         </td>
       </tr>
     }
     </tbody>
   </table>
 } else {
   <p>No employees found.</p>
 }